---
layout: main
---
{% assign pinned_posts = site.posts | where: "pinned", true %}
{% assign regular_posts = site.posts | where_exp: "post", "post.pinned != true" %}
{% assign ordered_posts = pinned_posts | concat: regular_posts %}
{% assign current_page = paginator.page | default: 1 %}
{% assign page_size = paginator.per_page | default: site.paginate | default: 12 %}
{% assign post_offset = current_page | minus: 1 | times: page_size %}
{% for post in ordered_posts limit:page_size offset:post_offset %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}){% if post.image_fit == "contain" %}; background-size: contain; background-repeat: no-repeat; background-position: center bottom; background-color: #f1f4f8{% endif %}" href="{{post.url | prepend: site.baseurl}}" aria-label="{{ post.image_alt | default: post.title | escape }}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
